<div class="content">
  <div class="header-div-bookmarks">
    <h3 *ngIf="!loginToRaindrop">Bookmarks in local storage</h3>
    <h3 *ngIf="loginToRaindrop">Bookmarks from <span>raindrop.io</span> service</h3>
  </div>
  <div
    class="image-container"
    fxLayout="row wrap"
    fxLayoutGap="grid"
    *ngIf="dataStorage.length != 0; else elseBlock" >
    <div
      *ngFor="let ph of dataStorage"
      fxFlex.xl="25%"
      fxFlex.lg="33%"
      fxFlex.md="50%"
      fxFlex.xs="100%">
      <app-cardblock *ngIf="!loginToRaindrop" [bookmarkPage]="true" [idImage]="ph.id"  [secret]="ph.secret"></app-cardblock>
      <app-cardblock *ngIf="loginToRaindrop" [bookmarkPage]="true" [idImage]="ph.title" [urlImageRaindrop]="ph.link"></app-cardblock>
    </div>
  </div>
  <ng-template #elseBlock>
    <div>
      <h2>Bookmarks not found</h2>
    </div>
  </ng-template>
</div>
