.content {
  /*background-color: #ffffff;*/
  height: calc(100vh - 160px);
  padding: 16px;
  font-size: 2rem;
  color: #000000;
}
.header-div-bookmarks{
  width: 100%;
  color: white;
  text-align: center;
}
