<div mat-dialog-content>
  <h2>Login with Pocket</h2>
  <mat-divider></mat-divider>
<!--  <div *ngIf="isLoggedin === false">-->
<!--&lt;!&ndash;    <form>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-form-field appearance="fill">&ndash;&gt;-->
<!--        <button mat-raised-button type="button" (click)="loginWithPocket()">Login with Pocket</button>-->
<!--&lt;!&ndash;      </mat-form-field>&ndash;&gt;-->
<!--&lt;!&ndash;    </form>&ndash;&gt;-->
<!--  </div>-->
  <div >
    <form method="post" action="https://raindrop.io/oauth/authorize">
      <mat-form-field appearance="fill">
        <input matInput type="text" value="https://task-img-elinext.herokuapp.com" id="redirect_uri" name="redirect_uri">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <input matInput type="text" value="611123ddcf708e9b6838133b" id="client_id" name="client_id">
      </mat-form-field>
      <button mat-raised-button type="submit">Login</button>
    </form>
  </div>
</div>
<mat-divider></mat-divider>
<div mat-dialog-actions>
  <button mat-raised-button type="button" (click)="onNoClick()">Close</button>
</div>

