<mat-toolbar color="primary">
  <span>My App</span>
  <span class="spacer"></span>
  <button mat-icon-button class="icon favorite-icon" aria-label="Icon-button with heart icon" mat-raised-button (click)="openDialog()">
    <mat-icon class="icon" aria-hidden="false" aria-label="User verified icon" *ngIf="userPhoto == null">login</mat-icon>
<!--    <mat-icon class="icon" aria-hidden="false" aria-label="User verified icon" *ngIf="userPhoto != null">-->
      <img *ngIf="userPhoto != null" src="{{ userPhoto }}" alt="photoUser" style="width: 100%;height: 100%;">
<!--    </mat-icon>-->
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div>
      <button mat-button (click)="setScreenSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <div>
      <button mat-button (click)="setScreenBookmark()">
        <mat-icon>bookmark</mat-icon>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-search *ngIf="containerSearch"></app-search>
    <app-bookmark *ngIf="containerBookmark"></app-bookmark>
  </mat-sidenav-content>

</mat-sidenav-container>

<div *ngIf="openDialogLogin">
  <app-dialog-login></app-dialog-login>
</div>



<mat-toolbar>
    <span>Copyright</span>
</mat-toolbar>


