<mat-card *ngIf="(response && !bookmarkPage) || (bookmarkPage && get()) ">
  <img mat-card-image *ngIf="!loginToRaindrop"
       src="{{ 'https://live.staticflickr.com/' + response.photo.server + '/' + response.photo.id + '_' + response.photo.secret + '.jpg' }}"
       alt="{{ response.photo.title._content }}">
  <img mat-card-image *ngIf="loginToRaindrop"
       src="{{ urlImageRaindrop }}"
       alt="{{ idImage }}">
  <mat-card-actions *ngIf="!loginToRaindrop">
    <button mat-raised-button (click)="set()" *ngIf="!bookmarkPage">Add bookmark</button>
    <button mat-raised-button *ngIf="removeBookmark" (click)="remove()">Remove Bookmark</button>
  </mat-card-actions>
  <mat-card-actions *ngIf="loginToRaindrop">
    <button mat-raised-button (click)="setRaindrop()" *ngIf="!bookmarkPage">Add to Raindrop</button>
    <button mat-raised-button *ngIf="removeBookmark" (click)="removeRaindrop()">Remove Bookmark</button>
  </mat-card-actions>
  <mat-card-footer>
    <mat-chip-list aria-label="Tags" *ngIf="(!loginToRaindrop && bookmarkPage) || (!loginToRaindrop && !bookmarkPage)|| (loginToRaindrop && !bookmarkPage)">
      <mat-chip class="tag" disabled *ngIf="response.photo.tags.tag.length == 0; else elseBlock">
        No tags
      </mat-chip>
      <ng-template #elseBlock ngFor let-tag [ngForOf]="response.photo.tags.tag" let-i="index">
        <mat-chip class="tag" *ngIf="i <= 5">
          {{tag.raw.length > 8 ? tag.raw.slice(0, 8) + '...': tag.raw}}
        </mat-chip>
      </ng-template>
    </mat-chip-list>
    <mat-chip-list aria-label="Tags" *ngIf="loginToRaindrop && bookmarkPage">
      <mat-chip class="tag" disabled *ngIf="tags.tag.length == 0; else elseBlock">
        No tags
      </mat-chip>
      <ng-template #elseBlock ngFor let-tag [ngForOf]="tags.tag" let-i="index">
        <mat-chip class="tag" *ngIf="i <= 5">
          {{tag.raw.length > 8 ? tag.raw.slice(0, 8) + '...': tag.raw}}
        </mat-chip>
      </ng-template>
    </mat-chip-list>
  </mat-card-footer>
</mat-card>
