<div class="content">
  <form class="search-form" (submit)="searchImage($event)">
    <mat-form-field class="search" color="primary">
      <mat-label>Search</mat-label>
      <input matInput placeholder="Please enter your search term" name="searchValue" [(ngModel)]="searchMessage">
      <mat-icon matSuffix style="font-size: 1.2em">search</mat-icon>
    </mat-form-field>
  </form>
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="getNextPage(pageEvent = $event)"
                 aria-label="Select page"
                 *ngIf="response != null">
  </mat-paginator>
  <div
    fxLayout="row wrap"
    fxLayoutGap="grid"
    *ngIf="response != null">
    <div
      *ngFor="let ph of response.photos.photo"
      fxFlex.xl="25%"
      fxFlex.lg="33%"
      fxFlex.md="50%"
      fxFlex.xs="100%">
      <app-cardblock [loginToRaindrop]="loginToRaindrop" [idImage]="ph.id" [secret]="ph.secret"></app-cardblock>
    </div>
  </div>
</div>

